body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    text-align: center;
    margin-top: 50px;
}

#btnCargarImagen {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnCargarImagen:hover {
    background-color: #0056b3;
}

#imagenContainer {
    margin-top: 20px;
}

#imagenContainer img {
    max-width: 100%;
    height: auto;
}

#tiempoContainer {
    margin-top: 20px;
    font-size: 18px;
}
